{% extends 'core/home_wrapper.html' %}
{% block content %}
<!-- main -->
<main>
    <div .container.center.top data-background-title="english">
        <div .context zIndex="4" position="relative" sm:justify-content:space-between!>
            <div>
                <div .text padding="0 20px" marginBottom="30px">
                    <button .btn.sm>
                        <span>
                            Only <span .marked>best</span> english education center
                        </span>
                    </button>
                </div>
                <div .text.big>
                    <span>
                        <span .marked>Курсы английского.</span> English with tim научит говорить как носитель
                    </span>
                </div>
            </div>
            <div marginTop="50px" sm:display:flex! justifyContent="center">
                <button .default.btn #openmodal>
                    <span>
                        Записаться на курс
                    </span>
                    <span .fas.fa-angle-right></span>
                </button>
            </div>
        </div>
    </div>
    <div .absolute.img left="0" bottom="-10px" zIndex=1 md:display:none!>
        <img src="/static/assets/media/images/header_bottom.png" width="250px">
    </div>
    <div position='relative'>
        <div .absolute.img bottom="0" right="0" sm:left:-700px!>
            <img src="/static/assets/media/images/main.jpg" width="1500px">
        </div>
    </div>
    <div .absolute.img.messages top="50%" left="55%" sm:left:0!>
        <div position="relative">
            <div .message sm:left:5px! sm:top:-70px left="-130px" top="-130px" c>
                <div .img>
                    <img src="/static/assets/media/images/little_images/image-7.png" alt="" width="50px">
                </div>
                <p>Hello, my friend! <span>🤗</span></p>
            </div>
            <div .message sm:left:150px! sm:top:73px! left="250px" top="-250px">
                <div .img>
                    <img src="/static/assets/media/images/little_images/image-3.png" alt="" width="50px">
                </div>
                <p>What are you doing ?<span></span></p>
            </div>
            <div .message sm:left:5px! sm:top:71px! d left="350px" top="-100px">
                <div .img>
                    <img src="/static/assets/media/images/little_images/image-4.png" alt="" width="50px">
                </div>
                <p>Thank you !<span>😻</span></p>
            </div>
            <div .message sm:left:150px! sm:top:90px! sm:display:none!>
                <div .img>
                    <img src="/static/assets/media/images/little_images/image-7.png" alt="" width="50px">
                </div>
                <p>Hey, how are you ? <span></span></p>
            </div>
        </div>
    </div>
</main>
<!-- /main -->
<div .modal-container>
    <div .modal display="flex" flexDirection="column" sm:width:100%!>
        <div .img>
            <img src="/static/assets/media/images/course.png" alt="" width="500px" height="300px">
        </div>
        <div .content>
            <b><span>IELTS - Гарантируем как минимум 6.5 - 7.0 band score</span></b>
            <p>IELTS (International English Language Testing System) - это способ продемонстрировать свои навыки
                владения английским языком и открыть двери к международным возможностям.</p>
            <p>IELTS (International English Language Testing System) - это способ продемонстрировать свои навыки
                владения английским языком и открыть двери к международным возможностям.</p>

            <ul>
                <li>Поможет Вам подготовиться к сдаче IELTS</li>
                <li>Резултаты наших преподавателей 8.0 - 8.5 band score </li>
                <li>Имитация реалного IELTS EXAM (Mock Exam)</li>
            </ul>
            <p>Time: 1 час 20 минут --- 3 раза неделю</p>
            <p>Type: индивмдуально или групповое занятие</p>
            <b>Contact: +998 99 123 45 67</b>
            <center marginTop="25px">
                <button .btn.default #closeModal>
                    <span>Закрыть</span>
                    <span .fas.fa-times></span>
                </button>
            </center>
        </div>
    </div>
</div>

<!-- section #whywe -->
<section #whywe>
    <div .container>
        <div marginBottom="50px">
            <button .btn.sm.light>
                <span>Made to your <span .marked>needs</span></span>
            </button>
            <div .title>
                <span>Что мы предлагаем</span>
            </div>
        </div>
        <div .cards>
            <div .card>
                <div .icon>
                    <span>
                        <img src="/static/assets/media/images/icons/darts.png" alt="darts">
                    </span>
                </div>
                <span><span .marked>Проверено</span> - все преподаватели имеют сертификаты IELTS/CEFR</span>
            </div>
            <div .card>
                <div .icon paddingTop="6px">
                    <span>
                        <img src="/static/assets/media/images/icons/play-button.png" alt="play-button">
                    </span>
                </div>
                <span><span .marked>Доказано</span> - послужной список помощи студентам/преподавателям</span>
            </div>
            <div .card>
                <div .icon paddingTop="10px">
                    <span>
                        <img src="/static/assets/media/images/icons/mortarboard.png" alt="mortarboard">
                    </span>
                </div>
                <span><span .marked>Экспертиза</span> - преподаю английский язык с 2010 года</span>
            </div>
            <div .card>
                <div .icon>
                    <span>
                        <img src="/static/assets/media/images/icons/learning.png" alt="learning">
                    </span>
                </div>
                <span><span .marked>Персональное внимание</span> - небольшие классы и индивидуальный подход</span>
            </div>
            <div .card>
                <div .icon>
                    <span>
                        <img src="/static/assets/media/images/icons/startup.png" alt="startup">
                    </span>
                </div>
                <span><span .marked>Разговорная речь</span> - начните говорить сразу с первого урока</span>
            </div>
            <div .card>
                <div .icon>
                    <span>
                        <img src="/static/assets/media/images/icons/diagram.png" alt="diagram">
                    </span>
                </div>
                <span><span .marked>Качество</span> - эффективные методы с гарантией результата</span>
            </div>
        </div>
    </div>
</section>
<!-- /section #whywe -->

<section #courses>
    <div .container data-background-title="courses">
        <div>
            <button .btn.sm>
                <span>Learn english with <span .marked>tim</span></span>
            </button>
        </div>
        <div display="flex" justifyContent="space-between">
            <div .title>
                <span>Курсы</span>
            </div>
            <div>
                <a href="#contact" .btn.default.dark sm:display:none!>
                    <span>Записаться на курс</span>
                    <span .fas.fa-angle-right></span>
                </a>
            </div>
        </div>
        <div .cards.splide #splide1 marginTop="60px" width="90%" margin="0 auto">
            <div .splide__track>
                <ul .splide__list>
                    {% for course in courses %}
                    <li .splide__slide>
                        <div .card>
                            <div .img.top.header>
                                <img src="{{ course.image.url }}" alt="course_1">
                            </div>
                            <div .content>
                                <div ._title>
                                    <span>{{ course.course_name }}</span>
                                </div>
                                <div ._descripton>
                                    <span>{{ course.about }}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<section #results padding="150px 0 100px 0">
    <div .container data-background-title="results">
        <div marginBottom="50px">
            <button .btn.sm.light>
                <span><span .marked>Results</span> of our <span .marked>students</span></span>
            </button>
            <div .title>
                <span width="500px">Результаты наших учеников</span>
            </div>
            <div .cards.splide #splide2>
                <div .splide__track>
                    <ul .splide__list>
                        <li .splide__slide>
                            <div .card.item>
                                <div .left-side>
                                    <img src="/static/assets/media/images/ielts/score-1.png" alt="">
                                </div>
                                <div .score>
                                    <p .name>
                                        <span>Yusupov Ulugbek</span>
                                    </p>
                                    <p>
                                        <span>Listening:</span><span .marked>8.0</span>
                                    </p>
                                    <p>
                                        <span>Reading:</span><span .marked>8.5</span>
                                    </p>
                                    <p>
                                        <span>Writing:</span><span .marked>7.0</span>
                                    </p>
                                    <p>
                                        <span>Speaking:</span><span .marked>7.5</span>
                                    </p>
                                    <p .band-score>
                                        Bandscore:<span .marked>8.0</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li .splide__slide>
                            <div .card.item>
                                <div .left-side>
                                    <img src="/static/assets/media/images/ielts/score-2.png" alt="">
                                </div>
                                <div .score>
                                    <p .name>
                                        <span>Tulanova Madina</span>
                                    </p>
                                    <p>
                                        <span>Listening:</span><span .marked>8.0</span>
                                    </p>
                                    <p>
                                        <span>Reading:</span><span .marked>7.0</span>
                                    </p>
                                    <p>
                                        <span>Writing:</span><span .marked>7.0</span>
                                    </p>
                                    <p>
                                        <span>Speaking:</span><span .marked>7.0</span>
                                    </p>
                                    <p .band-score>
                                        Bandscore:<span .marked>7.5</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li .splide__slide>
                            <div .card.item>
                                <div .left-side>
                                    <img src="/static/assets/media/images/ielts/score-4.png" alt="">
                                </div>
                                <div .score>
                                    <p .name>
                                        <span>Kamolov Durbek</span>
                                    </p>
                                    <p>
                                        <span>Listening:</span><span .marked>9.0</span>
                                    </p>
                                    <p>
                                        <span>Reading:</span><span .marked>8.0</span>
                                    </p>
                                    <p>
                                        <span>Writing:</span><span .marked>6.0</span>
                                    </p>
                                    <p>
                                        <span>Speaking:</span><span .marked>8.5</span>
                                    </p>
                                    <p .band-score>
                                        Bandscore:<span .marked>8.0</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li .splide__slide>
                            <div .card.item>
                                <div .left-side>
                                    <img src="/static/assets/media/images/ielts/score-5.png" alt="">
                                </div>
                                <div .score>
                                    <p .name>
                                        <span>Tasbaev Atabek</span>
                                    </p>
                                    <p>
                                        <span>Listening:</span><span .marked>8.5</span>
                                    </p>
                                    <p>
                                        <span>Reading:</span><span .marked>7.0</span>
                                    </p>
                                    <p>
                                        <span>Writing:</span><span .marked>6.0</span>
                                    </p>
                                    <p>
                                        <span>Speaking:</span><span .marked>6.0</span>
                                    </p>
                                    <p .band-score>
                                        Bandscore:<span .marked>7.0</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li .splide__slide>
                            <div .card.item>
                                <div .left-side>
                                    <img src="/static/assets/media/images/ielts/score-6.png" alt="">
                                </div>
                                <div .score>
                                    <p .name>
                                        <span>Yunusov Shoxruhmirzo</span>
                                    </p>
                                    <p>
                                        <span>Listening:</span><span .marked>6.0</span>
                                    </p>
                                    <p>
                                        <span>Reading:</span><span .marked>7.5</span>
                                    </p>
                                    <p>
                                        <span>Writing:</span><span .marked>6.0</span>
                                    </p>
                                    <p>
                                        <span>Speaking:</span><span .marked>6.5</span>
                                    </p>
                                    <p .band-score>
                                        Bandscore:<span .marked>7.0</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li .splide__slide>
                            <div .card.item>
                                <div .left-side>
                                    <img src="/static/assets/media/images/ielts/score-7.png" alt="">
                                </div>
                                <div .score>
                                    <p .name>
                                        <span>Xoliqova Marjonabonu</span>
                                    </p>
                                    <p>
                                        <span>Listening:</span><span .marked>8.5</span>
                                    </p>
                                    <p>
                                        <span>Reading:</span><span .marked>7.0</span>
                                    </p>
                                    <p>
                                        <span>Writing:</span><span .marked>6.0</span>
                                    </p>
                                    <p>
                                        <span>Speaking:</span><span .marked>6.5</span>
                                    </p>
                                    <p .band-score>
                                        Bandscore:<span .marked>7.0</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li .splide__slide>
                            <div .card.item>
                                <div .left-side>
                                    <img src="/static/assets/media/images/ielts/score-1.png" alt="">
                                </div>
                                <div .score>
                                    <p .name>
                                        <span>Urinboev Oyatillo</span>
                                    </p>
                                    <p>
                                        <span>Listening:</span><span .marked>8.0</span>
                                    </p>
                                    <p>
                                        <span>Reading:</span><span .marked>8.0</span>
                                    </p>
                                    <p>
                                        <span>Writing:</span><span .marked>7.0</span>
                                    </p>
                                    <p>
                                        <span>Speaking:</span><span .marked>8.0</span>
                                    </p>
                                    <p .band-score>
                                        Bandscore:<span .marked>8.0</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                </div>
            </div>
        </div>
</section>

<section #teachers>
    <div .container sm:flex-direction:column!>
        <div>
            <div>
                <button .btn.sm>
                    <span>Skilled life <span .marked>teachers</span></span>
                </button>
            </div>
            <div .title>
                <span width="450px">Познакомьте с нашими учителями.</span>
            </div>
            <div marginTop="50px" sm:display:none!>
               <a href="{% url 'main:teachers' %}">
                <button .btn.default>
                    <span>Все учителя</span>
                    <span .fas.fa-angle-right></span>
                </button>
               </a>
            </div>
        </div>
        <div .cards.splide #splide3 light marginTop="20px" width="75%" sm:width:100%!>
            <div .splide__track>
                <ul .splide__list>
                    {% for teacher in teachers|slice:":5" %}
                    <li .splide__slide>
                        <div .card>
                            <div .img>
                                <img src="{{ teacher.image.url }}" alt="">
                                <div .share>
                                    <div .open display="flex" width="100%" justifyContent="space-between">
                                        <div .icon>
                                            <i class="fas fa-share-nodes"></i>
                                        </div>
                                        <div .hidden display="flex">
                                            <div .icon>
                                                <a href="{{ teacher.facebook }}" target="_blank">
                                                    <i .fa-brands.fa-facebook-f></i>
                                                </a>
                                            </div>

                                            <div .icon>
                                                <a href="{{ teacher.instagram }}" target="_blank">
                                                    <i .fa-brands.fa-instagram></i>
                                                </a>
                                            </div>

                                            <div .icon>
                                                <a href="{{ teacher.twitter }}" target="_blank">
                                                    <i .fa-brands.fa-twitter></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div .content>
                                <p .name>
                                    <span>{{ teacher.teacher_name }}</span>
                                    <span .fas.fa-caret-down></span>
                                </p>
                                <p ._hidden>
                                    {{ teacher.about }}
                                </p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div marginTop="50px" sm:display:flex! display="none">
            <a href="{% url 'main:teachers' %}">
            <button .btn.default>
                <span>Все учителя</span>
                <span .fas.fa-angle-right></span>
            </button>
        </a>
        </div>
    </div>
</section>

<section #about-us>
    <div .container data-background-title="testimonials">
        <div>
            <button .btn.sm>
                <span><span .marked>Testimonials</span> about us</span>
            </button>
        </div>
        <div display="flex" justifyContent="space-between">
            <div .title>
                <span width="400">Что говорят о нас наши ученики</span>
            </div>
            <!-- <div sm:display:none!>
                <button .btn.default>
                    <span>Все отзывы</span>
                    <span .fas.fa-angle-right></span>
                </button>
            </div> -->
        </div>
        <div .pupils.splide #splide4 marginTop="100px">
            <div .splide__track>
                <ul .splide__list>
                    <div .pupil-card.splide__slide>
                        <div .top>
                            <div .img>
                                <img src="/static/assets/media/images/little_images/image-2.png" alt="">
                            </div>
                            <div>
                                <p>Chriss Moore</p>
                                <span .marked>Student</span>
                            </div>
                        </div>
                        <div>
                            <p>Знаете, English with Tim меня научил многому, почти 2 года я обучаюсь здесь. Я начала с
                                Beginner’а, но сейчас у меня Foudation. Я хочу поблагодарить Toby и JK за их труды. Все
                                учителя энергичные и всегда есть взаимопонимание между учителем и учеником. Да, мне
                                очень повезло, что я учусь в этом центре.</p>
                        </div>
                    </div>
                    <div .pupil-card.splide__slide>
                        <div .top>
                            <div .img>
                                <img src="/static/assets/media/images/little_images/image-2.png" alt="">
                            </div>
                            <div>
                                <p>Chriss Moore</p>
                                <span .marked>Student</span>
                            </div>
                        </div>
                        <div>
                            <p>Знаете, English with Tim меня научил многому, почти 2 года я обучаюсь здесь. Я начала с
                                Beginner’а, но сейчас у меня Foudation. Я хочу поблагодарить Toby и JK за их труды. Все
                                учителя энергичные и всегда есть взаимопонимание между учителем и учеником. Да, мне
                                очень повезло, что я учусь в этом центре.</p>
                        </div>
                    </div>
                    <div .pupil-card.splide__slide>
                        <div .top>
                            <div .img>
                                <img src="/static/assets/media/images/little_images/image-2.png" alt="">
                            </div>
                            <div>
                                <p>Chriss Moore</p>
                                <span .marked>Student</span>
                            </div>
                        </div>
                        <div>
                            <p>Знаете, English with Tim меня научил многому, почти 2 года я обучаюсь здесь. Я начала с
                                Beginner’а, но сейчас у меня Foudation. Я хочу поблагодарить Toby и JK за их труды. Все
                                учителя энергичные и всегда есть взаимопонимание между учителем и учеником. Да, мне
                                очень повезло, что я учусь в этом центре.</p>
                        </div>
                    </div>
                    <div .pupil-card.splide__slide>
                        <div .top>
                            <div .img>
                                <img src="/static/assets/media/images/little_images/image-2.png" alt="">
                            </div>
                            <div>
                                <p>Chriss Moore</p>
                                <span .marked>Student</span>
                            </div>
                        </div>
                        <div>
                            <p>Знаете, English with Tim меня научил многому, почти 2 года я обучаюсь здесь. Я начала с
                                Beginner’а, но сейчас у меня Foudation. Я хочу поблагодарить Toby и JK за их труды. Все
                                учителя энергичные и всегда есть взаимопонимание между учителем и учеником. Да, мне
                                очень повезло, что я учусь в этом центре.</p>
                        </div>
                    </div>
                    <div .pupil-card.splide__slide>
                        <div .top>
                            <div .img>
                                <img src="/static/assets/media/images/little_images/image-2.png" alt="">
                            </div>
                            <div>
                                <p>Chriss Moore</p>
                                <span .marked>Student</span>
                            </div>
                        </div>
                        <div>
                            <p>Знаете, English with Tim меня научил многому, почти 2 года я обучаюсь здесь. Я начала с
                                Beginner’а, но сейчас у меня Foudation. Я хочу поблагодарить Toby и JK за их труды. Все
                                учителя энергичные и всегда есть взаимопонимание между учителем и учеником. Да, мне
                                очень повезло, что я учусь в этом центре.</p>
                        </div>
                    </div>
                    <div .pupil-card.splide__slide>
                        <div .top>
                            <div .img>
                                <img src="/static/assets/media/images/little_images/image-2.png" alt="">
                            </div>
                            <div>
                                <p>Chriss Moore</p>
                                <span .marked>Student</span>
                            </div>
                        </div>
                        <div>
                            <p>Знаете, English with Tim меня научил многому, почти 2 года я обучаюсь здесь. Я начала с
                                Beginner’а, но сейчас у меня Foudation. Я хочу поблагодарить Toby и JK за их труды. Все
                                учителя энергичные и всегда есть взаимопонимание между учителем и учеником. Да, мне
                                очень повезло, что я учусь в этом центре.</p>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</section>

<section #faq>
    <div .container>
        <div display="flex" alignItems="center" flexDirection="column">
            <div display="flex" justifyContent="center">
                <button .btn.sm>
                    <span>Frequently asked <span .marked>questions</span></span>
                </button>
            </div>
            <div .title textAlign="center">
                <span maxWidth="700px">Часто задаваемые вопросы</span>
            </div>
        </div>
        <div .row sm:flex-direction:column! sm:align-items:center! marginTop="50px" flexWrap="wrap">
            <div .col>
                <ul>
                    {% for faq in faq1 %}
                    <li>
                        <div>
                            <span .question>{{ faq.question }}</span>
                            <span .collapse button>
                            </span>
                        </div>
                        <p .hidden>
                            {{ faq.answer }}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div .col>
                <ul>
                    {% for faq in faq2%}
                    <li>
                        <div>
                            <span .question>{{ faq.question }}</span>
                            <span .collapse button>
                            </span>
                        </div>
                        <p .hidden>
                            {{ faq.answer }}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>


<section #gallery>
    <div .container>
        <div>
            <button .btn.sm background="#28314B" color="#fff">
                <span>Our <span .marked>gallery</span></span>
            </button>
        </div>
        <div display="flex" justifyContent="space-between">
            <div .title>
                <span>Наша фотографии</span>
            </div>
            <div sm:display:none!>
                <a href="{% url 'main:gallery' %}">
                    <button .btn.default>
                        <span>Все фото</span>
                        <span .fas.fa-angle-right></span>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div .gallery.container>
        <div .row flexWrap="wrap">
            {% for photo in photos|slice:":6" %}
            <div .col width="31.6%" style="margin: 10px auto">
                <div .img>
                    <img src="{{ photo.photo.url }}" width="100%" height="100%" alt="{{ photo.photo }}">
                </div>
            </div>
            {% endfor %}
        </div>

        <div marginTop="50px" justifyContent="center" sm:display:flex! display="none">
            <a href="{% url 'main:teachers' %}">
            <button .btn.default>
                <span>Все фото</span>
                <span .fas.fa-angle-right></span>
            </button>
        </a>
        </div>
    </div>
</section>

<section #contact paddingTop="40px" background="#fff">
    <div .container position='relative'>
        <iframe width="100%" position='absolute' left="50%" transform='translateX(-50%)' height="900" sm:display:none! id="gmap_canvas"
            src="https://maps.google.com/maps?q=English%20With%20Tim&t=&z=19&ie=UTF8&iwloc=&output=embed"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <div position='relative' zIndex=2>
            <div>
                <button .btn.sm.no-borders>
                    <span .marked>Contacts</span>
                </button>
            </div>
            <div .title>
                <span>Контактные данные</span>
            </div>
        </div>
        <div .contact-container sm:width:100%!>
            <div .row sm:flex-direction:column!>
                <div .col position='relative' zIndex=2>
                    <center marginBottom="80px" position="relative">
                        <div .absolute.img left="-70px" top="-20px">
                            <img src="/static/assets/media/logo/logo-bordered.png" alt="logo" width="100px">
                        </div>
                        <div .title>
                            <span>English with tim</span>
                        </div>
                    </center>
                    <p display="flex"><span .fas.fa-location-dot></span><span>Андижанская область, город Андижан
                            Буюк Турон 21, за автовокзалом.</span></p>
                    <p display="flex"><span .fas.fa-location-dot></span><span>Андижанская область, город Андижан
                            Буюк Турон 21, за автовокзалом</p>
                    <p><span .fas.fa-phone></span><a href="tel:+998001234567">+998 00 123 45 67</a></p>
                    <p><span .fas.fa-phone opacity="0"></span><a href="tel:+998776543210">+998 77 654 32 10</a></p>
                    <p><span .fas.fa-envelope></span><a
                            href="mailto:englishwithtim@gmail.com">englishwithtim@gmail.com</a></p>
                    <div display="flex" marginTop="20px">
                        <div .icon><span .fa-brands.fa-telegram></span></div>
                        <div .icon><span .fa-brands.fa-instagram></span></div>
                        <div .icon><span .fa-brands.fa-facebook-f></span></div>
                        <div .icon><span .fa-brands.fa-youtube></span></div>
                    </div>
                    <div .absolute.img right="-167.5%" top="0" sm:display:none!>
                        <div #hideForm>
                            <span .fas fontSize="20px" color="#fff" cursor="pointer"></span>
                        </div>
                    </div>
                </div>
                <div .col #col position='relative' zIndex=2>
                    <div .title textAlign="center">
                        <span>Написат нам</span>
                    </div>
                    <form method="post" marginTop="30px" #form>
                        {% csrf_token %}
                        <div>
                            {{ form.name }}
                            {{ form.surname }}
                        </div>
                        <div>
                            {{ form.phone }}
                            {{ form.theme }}
                        </div>
                        {{ form.message }}
                        <div marginTop="70px">
                            <button type="submit" .btn.default display="flex" margin="0 auto">
                                <span>Отправить сообщениe</span>
                                <span .fas.fa-angle-right></span>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>

<script>
    let index = 0;
    let input = ['Ваше имя', 'Фамилия', 'Номер телефона', 'Тема']
    document.querySelectorAll('input[type=text]').forEach(e => {
        e.setAttribute('placeholder', input[index]);
        index++;
    })
    document.querySelectorAll('textarea').forEach(e => {
        e.setAttribute('placeholder', 'Текст')
        e.setAttribute('rows', 6)
    })
</script>

{% endblock %}